*{
    text-transform: capitalize;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    background: linear-gradient(#3f87a6, #f69d3c);;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 3rem;
}
.container {
    display: flex;
    position: left;
    background-color: rgb(255, 255, 255);
    height: 93vh;
    width: 33%;
    margin-left: 0%;
}
h2 {
    font-weight: bolder;
}
h3 {
    text-align: center;
    font-weight: bold;
}
h4 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 4rem;
    color: white;
}
h5 {
    font-size: 17px;
    color: white;
    text-align: center;
}
button {
    width: 100%;
}
.card1 {
    border: black solid 3px;
    padding: 3rem;
    width: 58vw;
    height:50vh;
    background-color: rgb(124, 124, 124);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 4rem;
    margin-top: 1rem;
}
.box {
    padding: 3rem;
    width: 58vw;
    height:40vh;
    background-color: rgb(0, 113, 189);
    display: inline;
    align-items: flex-end;
    justify-content: center;
    margin-left: 4rem;
    margin-top: 1rem;
}
#forcastBody2 {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    border: black solid 2px;
    text-align: center;
}