body {
  
}
header{
    background: linear-gradient(#3f87a6, #f69d3c);;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.container {
    display: flex;
    position: left;
    background-color: rgb(255, 255, 255);
    height: 93vh;
    width: 33%;
    margin-left: 0%;
}
h3 {
    text-align: center;
}
button {
    width: 100%;
}
.card1 {
    border: black solid 3px;
    padding: 3rem;
    width: 58vw;
    height:50vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 4rem;
    margin-top: 1rem;
}
.card2 {
    padding: 3rem;
    width: 58vw;
    height:40vh;
    background-color: rgb(0, 113, 189);
    display: inline;
    align-items: flex-end;
    justify-content: center;
    margin-left: 4rem;
    margin-top: 1rem;
}